@using Core.ViewModels.User
@model RegisterUserModel

<form method="post" asp-action="Register">
    <label asp-for="UserName"></label>
    <input asp-for="UserName">

    <label asp-for="Email"></label>
    <input asp-for="Email">

    <label asp-for="Password"></label>
    <input asp-for="Password">

    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword">

    <input type="submit" value="Register" />
</form>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}