@model System.Boolean

@if (Model)
{
    <div class="nav-item px-2 d-none d-lg-block">
        <a asp-area="Admin" asp-controller="User" asp-action="ManageUsers" class="btn navbutton"><i class="bi bi-tools"></i> Admin</a>
    </div>
}
