@using Core.Genres.Queries.Common;
@model GenreModel

@{
    ViewData["Title"] = "Edit Genre";
}

<div class="m-space orange-bg"></div>
<h1 class="text-center" style="margin-top: 4rem">@Model.Name</h1>
<div class="row-2 d-flex justify-content-center s-space">
    <form style="margin-bottom: 4rem" asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group mb-3">
            <input asp-for="Name" placeholder="Genre Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit"
                    class="btn float-end navbutton"
                    style="margin-top: 2rem">
                Rename
            </button>
        </div>
    </form>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
