@if (Model.UserId != null)
{
    @if (Model.IsFavourite)
    {
        <button id="favButton" class="btn navbutton"
            style="font-size: 1.5rem; width: 40%; max-width: 200px">Unfavorite</button>
    }
    else
    {
        <button id="favButton" class="btn navbutton"
            style="font-size: 1.5rem; width: 40%; max-width: 200px">Favorite</button>
    }
}

<script type="text/javascript">
    let buttonElement = document.querySelector('#favButton');
    console.log(buttonElement);
    buttonElement.addEventListener('click', ()=>{
        if(buttonElement.textContent=='Favorite'){

     $.ajax({
         type: "POST",
         url: "@Url.Action("AddToFavourites")",
         data: { id: '@Model.Id' }
     })
        } else{
            $.ajax({
            type: "POST",
            url: "@Url.Action("RemoveFromFavourites")",
            data: { id: '@Model.Id' }
            })
        }
    })
</script>

<script src="~/js/favMovie.js" type="module"></script>