@using Infrastructure.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        
            <div class="nav-item px-2 d-none d-lg-block">
                <a class="btn navbutton"
               asp-controller="User"
               asp-action="Profile">Profile</a>
            </div>
       
            <form class="nav-item px-2 d-none d-lg-block" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn navbutton">Logout</button>
            </form>
            
 

        @await Component.InvokeAsync("AdminCheck")
    }
    else
    {
        <!-- Login/Register Buttons -->

        <div class="nav-item px-2 d-none d-lg-block">
            <a class="btn navbutton"
           asp-controller="User"
           asp-action="Login">Login</a>
        </div>
        <div class="nav-item px-2 d-none d-lg-block">
            <a class="btn navbutton" asp-controller="User"
           asp-action="Register">Register</a>
        </div>

    }
</ul>
