@using Core.ViewModels.Book
@model BookDetailsModel

@if (ViewBag.IsLoggedIn)
{

    <a asp-action="Read"
   asp-controller="Book"
   asp-route-id=@Model.Id
   asp-route-FileName="Book.pdf" class="btn btn-primary" id="btnOpenDocument">
        <i class="fa fa-receipt"></i> Read book
    </a>

    <a asp-controller="Book" asp-action="TestRead" asp-route-id=@Model.Id >
        Read it
    </a>

    <script>
        $('#btnOpenDocument').click(function (e) {
            e.preventDefault();
            window.open('@Url.Action("Read"
                     ,"Book"
                     ,new {id=@Model.Id
                          ,fileName=@$"{Model.Title}.pdf" })'
                        ,"_blank");
        });
    </script>
}
