@{
    DateTime SubscriptionDeadline = Model.SubscribedDueDate;

    TimeSpan subscriptionTimespan = SubscriptionDeadline.Subtract(DateTime.Now);
    string remaining = $"{subscriptionTimespan.Days} days and {subscriptionTimespan.Hours} hours";
}

@if (Model.SubscribedDueDate != default(DateTime))
{
    <h1 class="text-center d-xxl-none" style="margin-top: 6rem">
        Remaining Subscription:
        <div class="orange-txt">@remaining</div>
    </h1>

}

