@model System.Boolean

@if (Model)
{
    <div class="col d-lg-none">
        <a class="btn navbutton" style="width: 100%" asp-area="Admin" asp-controller="User"
       asp-action="ManageUsers"><i class="bi bi-tools"></i> Admin</a>
    </div>
}
